<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="author" content="Networking and Sensing Systems Laboratory">
    <meta name="copyright" content="Networking and Sensing Systems Laboratory">
    <meta name="description" content="Networking and Sensing Systems Laboratory Website">
    <!-- Schema.org markup for Google+ -->
    <meta itemprop="name" content="Networking and Sensing Systems Laboratory">
    <!-- <meta itemprop="image" content="要顯示的縮圖網址"> -->
    <meta itemprop="description" content="Networking and Sensing Systems Laboratory Website">
    <!-- Twitter summary card with large image must be at least 280x150px --> 
    <meta name="twitter:image:src" content="https://nss.cs.nctu.edu.tw">
    <!-- Open Graph data -->
    <meta property="og:title" content="Networking and Sensing Systems Laboratory" >
    <meta property="og:url" content="https://nss.cs.nctu.edu.tw">
    <!-- <meta property="og:image" content="要顯示的縮圖網址"> -->
    <meta property="og:description" content="Networking and Sensing Systems Laboratory Website" >
    <title>Networking and Sensing Systems Laboratory</title>
    <!-- External JavaScript -->
    
    <!-- Fonts -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato">
    <!-- CSS -->
    <link rel="stylesheet" href="main.css" />
</head>

<body>
    <div id="app">{{html|safe}}</div>
    
    <!-- Bundle -->
    <script src="vendor.js"></script>
    <script src="vendor.bundle.js"></script>
    <script src="bundle.js"></script>
</body>

</html>